<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <section class="todo-app">
      <header class="app-header">
         <h1>Todo-app</h1>
          <input type="text" class="new-todo" v-model="newTodo" v-on:keyup.enter="addTodo">
      </header>
      <section class="app-main">
          <input type="checkbox" class="toggle-all" id="toggle-all">
          <ul class="todo-list">
              <li v-for="todo in todos" class="todo">
                  <div class="vie">
                      <input type="checkbox" class="toggle" v-model="todo.completed">
                      <label>{{todo.title}}</label>
                      <button class="remove" @click="removeTodo(todo)"></button>
                  </div>
              </li>
          </ul>
      </section>
      <footer class="app-footer">
          <p>Test App</p>
          <p>Aloha guys!</p>
      </footer>
  </section>

  <script src="main.js"></script>
</body>
</html>